.input_group {
  margin: 10px 0;
}

.input_label {
  margin-bottom: 2px;
  display: block;
}

.input_label_disabled {
  margin-bottom: 2px;
  display: block;
  color: rgba(170, 170, 170, 0.5);
}

.input {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid black;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  width: 40vw;
  line-height: 1.5rem;
}

.input:disabled {
  background: rgba(170, 170, 170, 0.5);
  border-bottom: 0.2em solid rgba(170, 170, 170, 0.1);
}

@media only screen and (max-width: 480px) {
  .input {
    width: 60vw;
  }
}
