.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2vh 23vw;
  text-align: center;
  gap: 2vh;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.row {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 16px;
}

.row:nth-child(even) {
  background-color: #dddddd;
}

.info {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .container {
    text-align: left;
    padding: 20px 10%;
  }
}
