.location_section {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  align-items: center;
}

.location_text {
  background-color: black;
  color: white;
  max-width: 100%;
  padding: 2% 20%;
  font-size: 1.2em;
}

.location_text p {
  text-align: center;
}

.location_text a {
  color: white;
}

.hotel_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 480px) {
  .header_desktop {
    display: none;
  }
  .hotel_grid {
    display: flex;
    flex-direction: column;
  }
  .location_text {
    font-size: 1em;
  }
}
