.location_section {
  background-color: #f7f5ed;
}

.hotels_grid_container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  padding: 20px 10%;
}

.accomondation_image {
  border-radius: 10px;
}

.image_container {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 480px) {
  .hotels_grid_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hotels_grid_container li {
    list-style: none;
  }
}
