.attractions_section {
  background-color: #f7f5ed;
}

.attractions_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media only screen and (max-width: 480px) {
  .attractions_grid {
    gap: 5px;
  }
}
