.grid_container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  padding: 20px 10%;
}

.suggestions_grid_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px 20%;
}

.flex_container_left {
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
}

.flex_container_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.food_image {
  border-radius: 10px;
}

.side_gif {
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 400px) {
  .grid_container {
    grid-template-columns: 1fr;
  }

  .suggestions_grid_container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2vh 23vw;
  }

  .suggestions_grid_container li {
    list-style: none;
  }
}
