.grid_container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  padding: 5% 10%;
}

.grid_container_mobile {
  display: none;
}

.location_list {
  margin-top: 0;
}

.food_header {
  margin-top: 10%;
}

.side_gif {
  display: flex;
  justify-content: flex-end;
  max-width: 350px;
  max-height: 350px;
}

@media only screen and (max-width: 480px) {
  .grid_container_mobile {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    padding: 20px 10%;
  }

  .grid_container {
    display: none;
  }
}
