.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 10%;
}

.p_hidden {
  display: none;
}

.p_hidden.p_shown {
  display: block;
  position: relative;
  animation-duration: 1s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    bottom: 100px;
  }

  to {
    opacity: 100%;
    bottom: 0%;
  }
}

@media only screen and (max-width: 480px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
}
