.home_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.white_background {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2vw;
}

.artemis_background {
  background: url("/artemis_car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
