.home_background_container {
  width: 100%;
  height: 700px;
}

.home_text_container {
  background: black;
  color: white;
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.home_suspects_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suspects_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px 10%;
  gap: 10px;
}

.suspects_grid_item {
  text-align: center;
}

.suspects_grid_box {
  width: 250px;
  height: 500px;
  border: 1px solid black;
  background-color: gray;
}

.suspect_img {
  transition: transform 0.5s ease;
}

.suspect_img:hover {
  transform: scale(1.05, 1.05);
}

.suspects_logo {
  width: 300px;
  padding: 20px 0;
}

.suspects_logo > p {
  text-align: center;
  margin: 50px 0;
  font-style: italic;
}

.arrow {
  width: 50px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  transition: all 0.5s ease-out;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  cursor: pointer;
}

.arrow.right:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.arrow.right {
  float: right;
  color: white;
}

.timeline_title {
  margin-top: 5%;
  margin-bottom: 0;
  font-size: 2em;
}

.timeline_silenced {
  font-style: italic;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}

.timeline_container {
  padding: 5% 15%;
}

.timeline_container_mobile {
  display: none;
}

.timeline_date {
  margin-bottom: 20px;
}

.timeline_place {
  margin-bottom: 190px;
}

.home_background0 {
  background: url("/carousel/cover1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 1s ease-out;
}

.home_background1 {
  background: url("/carousel/cover2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 1s ease-out;
}

.home_background2 {
  background: url("/carousel/cover3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 1s ease-out;
}

.home_background3 {
  background: url("/carousel/cover4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 1s ease-out;
}

.save_the_date_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.save_the_date_letter_2 {
  display: flex;
  align-items: start;
  position: relative;
}

.save_the_date_letter_2_mobile {
  display: none;
}

.save_the_date_letter_8 {
  display: flex;
  align-items: end;
  position: relative;
}

.save_the_date_letter_8_mobile {
  display: none;
}

.save_the_date_text {
  text-align: center;
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 700px;
}

@media only screen and (max-width: 480px) {
  .home_background0 {
    background: url("/carousel/mobile/cover2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home_background1 {
    background: url("/carousel/mobile/cover3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home_background2 {
    background: url("/carousel/mobile/cover4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home_background3 {
    background: url("/carousel/mobile/cover5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .arrow {
    color: white;
    width: 25px;
  }
  .suspects_grid {
    grid-template-columns: 1fr;
  }
  .suspects_logo {
    width: 180px;
  }
  .home_suspects_container {
    padding-top: 20px;
  }
  .timeline_container_mobile {
    padding: 5% 15%;
    display: block;
  }
  .timeline_container {
    display: none;
  }
  .timeline_date {
    margin-bottom: 20px;
  }
  .timeline_place {
    margin-bottom: 30px;
  }
  .save_the_date_text {
    font-size: 0.5em;
    height: 250px;
  }
  .save_the_date_grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
  }
  .save_the_date_letter_2_mobile {
    display: flex;
    align-items: start;
    position: relative;
  }
  .save_the_date_letter_2 {
    display: none;
  }
  .save_the_date_letter_8_mobile {
    display: flex;
    align-items: end;
    position: relative;
  }
  .save_the_date_letter_8 {
    display: none;
  }
}
