.image_desktop {
  display: block;
}

.image_mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .image_desktop {
    display: none;
  }
  .image_mobile {
    display: block;
  }
}
