.desktop_navigation_bar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 4vh;
  padding-bottom: 2vh;
  z-index: 99;
}

.navigation_menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50vw;
  gap: 10px;
  margin: 0;
}

.navigation_item {
  border-radius: 20%;
  letter-spacing: 0.15em;
  padding: 10px;
  transition: font-weight 0.2s ease-in;
  cursor: pointer;
  font-size: 0.8em;
}

.navigation_item.active {
  font-weight: bolder;
}

.mobile_navigation_bar {
  display: none;
}

@media only screen and (max-width: 400px) {
  .desktop_navigation_bar {
    display: none;
  }
  .mobile_navigation_bar {
    display: block;
  }
}
