.navigation_menu {
  list-style: none;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100vw;
  gap: 5%;
  margin: 0;
  padding: 20px 0;
  background-color: rgba(200, 255, 255, 0.8);
  transition: padding 0.2s ease-out;
}

.navigation_menu.scrolled {
  background-color: rgba(200, 255, 255, 0.3);
  padding: 10px 0;
}

.navigation_item {
  border-radius: 20%;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 10px;
  transition: font-weight 0.2s ease-in;
  cursor: pointer;
}

.navigation_item.active {
  font-weight: bolder;
}
