.navigation_bar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 4vh;
  padding-bottom: 2vh;
}

.navigation_menu {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 50vw;
  gap: 5%;
  margin: 0;
}

.navigation_item {
  border-radius: 20%;
  letter-spacing: 0.15em;
  padding: 10px;
  transition: font-weight 0.2s ease-in;
  cursor: pointer;
  font-size: 0.8em;
}

.navigation_item.active {
  font-weight: bolder;
}
