.save_the_date_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.save_the_date_letter_2 {
  display: flex;
  align-items: start;
  position: relative;
}

.save_the_date_letter_2_mobile {
  display: none;
}

.save_the_date_letter_8 {
  display: flex;
  align-items: end;
  position: relative;
}

.save_the_date_letter_8_mobile {
  display: none;
}

.save_the_date_text {
  text-align: center;
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 700px;
}

.save_the_date_text_mobile {
  display: none;
}

.timeline_date {
  margin-bottom: 20px;
  font-size: 1.8em;
}

.timeline_date > span {
  font-size: 1.3rem;
}

.timeline_silenced {
  font-style: italic;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}

.rsvp_button {
  appearance: none;
  border: 0.2em solid white;
  padding: 0.85em 1.5em;
  transition: 1s;
  cursor: pointer;
  color: white;
  margin: 0 5vw 190px 5vw;
  text-decoration: none;
}

.rsvp_button:hover,
.rsvp_button:focus,
.rsvp_button:active {
  background: white;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .save_the_date_grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
  }
  .save_the_date_letter_2 {
    display: none;
  }
  .save_the_date_letter_2_mobile {
    display: flex;
    align-items: start;
    position: relative;
  }
  .save_the_date_letter_8_mobile {
    display: flex;
    align-items: end;
    position: relative;
  }
  .save_the_date_letter_8 {
    display: none;
  }
  .save_the_date_text {
    display: none;
  }
  .save_the_date_text_mobile {
    text-align: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    font-size: 0.5em;
    height: 250px;
  }
  .timeline_date {
    margin-bottom: 20px;
  }
  .timeline_date > span {
    font-size: 0.7rem;
  }
  .rsvp_button {
    padding: 0.45em 1em;
    margin-bottom: 30px;
  }
}
