.suspects_grid_item {
  text-align: center;
}

.suspect_img {
  transition: transform 0.5s ease;
}

.suspect_img:hover {
  transform: scale(1.05, 1.05);
}

.suspects_grid_box {
  width: 250px;
  height: 500px;
  border: 1px solid black;
  background-color: gray;
}
